/* Контейнер для обертки формы входа */
.login-wrapper {
  /* Устанавливает флекс-контейнер для центрирования содержимого */
  display: flex;
  /* Центрирует элементы по горизонтали */
  justify-content: center;
  /* Центрирует элементы по вертикали */
  align-items: center;
  /* Устанавливает минимальную высоту на 100% от высоты экрана */
  /* min-height: 100vh; */
  /* Добавляет внутренние отступы по 20 пикселей со всех сторон */
  padding: 20px;
}

/* Контейнер самой формы входа */
.login-form-container {
  /* Устанавливает ширину на 100% от родительского элемента */
  width: 100%;
  /* Ограничивает максимальную ширину формы 400 пикселями */
  max-width: 400px;
  /* Добавляет внутренние отступы в 20 пикселей со всех сторон */
  padding: 20px;
  /* Округляет углы контейнера с радиусом 5px */
  border-radius: 5px;
  /* Добавляет мягкую тень вокруг контейнера */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  /* Устанавливает белый фон для контейнера */
  background-color: #fff;
}

/* Стиль для заголовка формы */
.login-title {
  /* Центрирует текст по горизонтали */
  text-align: center;
  /* Добавляет внешний отступ снизу в 20 пикселей */
  margin-bottom: 20px;
}

/* Стиль для самой формы входа */
.login-form {
  /* Добавляет внешний отступ снизу в 15 пикселей */
  margin-bottom: 15px;
}

/* Стиль для кнопки формы входа */
.login-button {
  /* Устанавливает ширину кнопки на 100% от родительского контейнера */
  width: 100%;
}
