/* Стили для карусели */
.custom-carousel {
  height: 300px; /* Устанавливаем фиксированную высоту для всего слайдера */
}

.custom-carousel .carousel-item img {
  object-fit: contain; /* Изображения сохранят пропорции, но не будут обрезаться */
  height: 100%; /* Изображение будет растягиваться по высоте контейнера */
}

/* Адаптация высоты слайдера для мобильных устройств */
@media (max-width: 768px) {
  .custom-carousel {
    height: 100px; /* Меньшая высота для мобильных устройств */
  }
}
